
@model Vidly.Models.Customer

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <h1>@Model.Name</h1>

    <body>
        <li> Membership Type: @Model.MembershipType.Name</li>

        @if (Model.DateOfBirth!=null)

        {
        <li> Date of birth: @Model.DateOfBirth.Value.ToString("D") </li>
        }
    </body>
    
    
